html {
    scroll-behavior: smooth;
}

main {
    background: linear-gradient(rgba(252,252,252,.96),rgba(252,252,252,.96)), url("../img/movie-background.jpg");
    background-size: 25rem;
    padding-bottom:4em;
}

footer {
    background-color: rgb(85, 85, 85);
    color: white;
}

nav {
    display:flex;
    flex-direction:column;
}

/* Clases */

.CTA {
    background-color:#f7ce46;
    color:#FFF;
    cursor:pointer;
    padding:.38em;
}

.logo {
    width:5em;
}

.navbar-button {
    background-color: #464b9c;
}

.filter-button {
    background-color: #fff;
    padding:0.3em;
}

.button {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.filter-button-text {
    color:#464b9c;
    font-size:1rem;
    padding-left:0.2em;
    padding-right:0.3em;
    position: relative;
    top: 0.1em;
    font-weight:500;
}

.button-text {
    font-size:1.5rem;
    font-weight:500;
}

.navbar-button-text {
    color:white;
    font-size:1rem;
    padding-left:0.2em;
    padding-right:0.3em;
    position: relative;
    top: 0.1em;
}

.collapse-menu {
    align-items: center;
    width: 100%;
}

.searchbar {
    background-color: #464b9c;
}

.coverTitleContainer {
    padding-top:5rem;
}

.coverTitle  {
    position:relative;
    padding:0;
    width:100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    font-weight:bolder;
    color:white;
    -webkit-text-stroke: 0.4em white;
    text-shadow: 0 0.4em 0.5em rgba(0,0,0,05);
}

.ctOver {
    position:absolute;
    color:#f7ce46;
    top:0;
    left:0;
    right:0;
    bottom:0;
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.ctOver h3 {
    color:#f55852;
}

.movieList h2 {
    font-weight:bold;
    color:#2a3074
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    pointer-events: none;
}

.carousel-dark {
    position:relative;
}

.movieCollection {
    height:23rem;
    overflow-x:scroll;
    display:flex;
    flex-direction:row;
}

.movieCollection::after {
    content: '';
    padding-left: 2rem;
}

.movieCollection::-webkit-scrollbar
{
    height: 0;
}

.movieContainer {
    width:12.5em;
    height:19em;
    background-color: rgb(240,240,240);
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border-radius: 1em;
    margin-right:1em;
    margin-bottom:2em;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0.2em 0.5em rgb(0 0 0 / 30%);
    padding: 1em;
    text-align: center;
    color: white;
}

.carousel-dark button {
    border-width:0;
    width: auto;
    background:rgba(252,252,252,0.4);
    margin-bottom:3em;
}

.carousel-dark button:hover {
    background:rgba(252,252,252,0.7);
}

.searchbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.resultsSpinner {
    position:fixed;
    top: 20em;
    left: 50%;
    transform: translate(-50%, 0);
}

/* IDs */

#resultsContainer {
    min-height: calc(100vh - 15rem);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:3rem;
    align-content: start;
    margin:auto;
}

#footer p {
    margin-bottom:0.2rem;
    text-align: center;
}

#searchbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    line-height: 1;
    overflow: hidden;
    border-radius: .25rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#searchInput {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    padding-left: 1em;
}

#textInput {
    width:99%;
    height:2.05em;
    margin:0;
    padding:0;
    border: none;
}

#textInput:focus {
    outline:none;
}

#cover {
    height:30rem;
    background: linear-gradient(rgba(252,252,252,.6), rgba(252,252,252,.6) 50%, rgba(252,252,252,.93) 80%, rgba(252,252,252,.96)), url("../img/movie-background.jpg");
    background-size: 25rem;
}

#popular {
    margin-top: -8em;
    padding-top:4em!important;
}

#copyright {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1.5em;
}

#footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:1.5rem;
}

#footer a {
    color:white;
}

/* Media */

@media (min-width: 992px) {
    .pageWidth {
        max-width:60rem;
    }
    .logo {
        width:6em;
    }
}

@media (min-width: 1200px) {
    .pageWidth {
        max-width:70rem;
    }
}